
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');


*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* Some utilities classes defined globally */

.flex {
    display: flex;
}

.flex-1{
    flex: 1;   
}

.flex-col{
    flex-direction: column;
}


.item-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: flex-end;
}

.align-top{
    align-items: flex-start;
}


.text-white{
    color: white;
}

.text-gray{
    color: #b3b3b3;
}

p{
    line-height: 1.5;
}


